<div class="container justify-content-md-center">
    <form method="post" asp-controller="Administration" asp-action="ImportUsers" enctype="multipart/form-data">
        <div class="form-group w-25">
            <input type="file" name="file" class="form-control" />
        </div>

        <hr />

        <button type="submit" class="btn btn-outline-success">Import Excel</button>
    </form>
</div>
